
label{
    color: red;
    font-size: 14px;
    font-weight: bold;
}
.button {
    color: red;
    margin: 10px auto;
    background: #00bfe1;
    border: 1px solid #00bfe1;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 14px;
    line-height: 1.2852;
    cursor: pointer;

  }